@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 768px) {
    .col-md-12 {
        flex: 0 0 auto;
        width: 87% !important;
        justify-content: center !important;
        margin: auto !important;
    }

}

/* media tag devices:start */
/* small device */
@media screen and (max-width: 320px) {

    .logo {
        margin: 10px;
        width: 90px;
        height: 33px;
    }

    #brand-header .fa-xl {
        font-size: 18px;
    }


    .header_middle .row {
        display: none;
    }

    #brand-header .navbar .cart_icon {
        margin-top: 18px !important;
    }

    #brand-header .col-md-12 {
        width: 100%;
    }

    #brand-header .col-md-4 {
        width: 33%;
    }

    .searchbar-wrapper {
        margin-top: 70%;
    }

    .searchbar-wrapper .search-type {
        padding: 0px 7px
    }

    #searchbar {
        width: 95%;
    }
}

/*  320px — 480px: Mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {

    .logo {
        margin: 10px;
        width: 105px;
        height: 30px;
    }

    #brand-header .fa-xl {
        font-size: 18px;
    }

    #brand-header .col-md-12 {
        width: 100%;
    }

    .header_middle .row {
        display: none;
    }

    #brand-header .navbar .cart_icon {
        margin-top: 18px;
    }

    #brand-header .col-md-4 {
        width: 33%;
    }

    .searchbar-wrapper {
        margin-top: 40%;
    }

    .searchbar-wrapper .search-type {
        padding: 7px 25px;
    }

    #searchbar {
        width: 95%;
    }

}

/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .logo {
        width: 105px;
        height: 30px;
    }

    #brand-header .fa-xl {
        font-size: 20px;
    }

    .header_middle .row {
        display: none;
    }

    #brand-header .navbar .cart_icon {
        margin-top: 7px;
    }



    #brand-header .col-md-12 {
        width: 100%;
    }

    #brand-header .col-md-4 {
        width: 33%;
    }

    .searchbar-wrapper {
        margin-top: 30%;
    }

    .searchbar-wrapper .search-type {
        padding: 10px 35px
    }

    #searchbar {
        width: 90%;
    }


}

/* 769px — 1024px: Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .logo {
        width: 110px;
        height: 35px;
    }

    #brand-header .fa-xl {
        font-size: 22px;
    }

    #brand-header .col-md-4 {
        width: 33%;
    }

    #brand-header .navbar .cart_icon {
        margin-top: 8px;
    }

    .header_middle .row {
        display: none;
    }



    .searchbar-wrapper {
        margin-top: 20%;
    }

    .searchbar-wrapper .search-type {
        padding: 7px 25px
    }

    #searchbar {
        width: 80%;
    }


}

@media (max-width: 991px) {
    .header_middle .row {
        display: none;
    }

}

/* 1025px — 1200px: Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 960px;
    }

    .searchbar-wrapper {
        margin-top: 16%;
    }

    .searchbar-wrapper .search-type {
        padding: 10px 35px
    }

    #searchbar {
        width: 70%;
    }
}

/* 1201px and more —  Extra large screens, TV */
@media screen and (min-width: 1201px) {
    .searchbar-wrapper {
        margin-top: 13%;
    }

}

/* media tag devices:end */